@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--breakpoint-\*: initial;
	--breakpoint-sm: 700px;
	--breakpoint-md: 1100px;
	--breakpoint-lg: 1400px;

	--font-\*: initial;
	--font-special: "Bebas Neue", sans-serif;
	--font-display: "Cubano", sans-serif;
	--font-body: "Inter", sans-serif;
	--font-math: math, sans-serif;

	--text-\*: initial;
	--text-sm: 0.9rem;
	--text-md: 1rem;
	--text-lg: 1.1rem;
	--text-xl: 1.2rem;
	--text-2xl: 1.3rem;
	--text-3xl: 1.5rem;
	--text-4xl: 2rem;
	--text-5xl: 3rem;
	--text-6xl: 5rem;
	--text-7xl: 7rem;
	--text-8xl: 10rem;
	--text: 0.9rem;

	--leading-\*: initial;
	--leading-sm: 1.2rem;
	--leading-md: 1.5rem;
	--leading-lg: 1.2rem;
	--leading-xl: 1.2rem;
	--leading-2xl: 1.2rem;
	--leading-3xl: 1.4rem;
	--leading-4xl: 1.8rem;
	--leading-5xl: 2.4rem;
	--leading-6xl: 2.8rem;
	--leading-7xl: 3.2rem;
	--leading-8xl: 3.6rem;

	--border: 210 40% 91%;
	--input: 210 40% 91%;
	--ring: 256 63% 42%;

	--color-border: hsl(var(--border));
	--color-input: hsl(var(--input));
	--color-ring: hsl(var(--ring));

	--color-background: #f0f9ff;
	--color-foreground: #1e293b;

	--color-primary: #2563eb;
	--color-primary-foreground: #ffffff;

	--color-secondary: #93c5fd;
	--color-secondary-foreground: #1e293b;

	--color-tertiary: #475569;
	--color-tertiary-foreground: #ffffff;

	--color-success: #10b981;
	--color-success-foreground: #ffffff;

	--color-destructive: #ef4444;
	--color-destructive-foreground: #ffffff;

	--color-muted: #f1f5f9;
	--color-muted-foreground: #64748b;

	--color-accent: #f1f5f9;
	--color-accent-foreground: #1e293b;

	--color-popover: #ffffff;
	--color-popover-foreground: #1e293b;

	--color-card: #ffffff;
	--color-card-foreground: #1e293b;

	--radius-lg: 10px;
	--radius-md: 8px;
	--radius-sm: 6px;
}
